<form action="/blog/views/login.ejs" method="post">
    用户名：<input type="text" name="name" /><br /><!-- 注意修正了引号，并移除了数字 12 -->
    密码： <input type="password" name="password" /><br />
    <input type="submit" value="登录" />
</form>
<a href="/reg">Go back to Home Page</a>